# Ignore the node _modules directory
/node_modules
/PROJECT_00 CALCULATOR

# Ignore any built TypeScript files (JavaScript output)
/dist

# Ignore editor/IDE_specific files and directories 
.vscode 
.idea
.DS_Store